<% @post.comments.each do |single| %>
  <div class="highlight-dark">
    <%= content_tag :p, single.content %>
    <%= content_tag :h6, "by: #{single.user.name} created at #{time_ago_in_words single.created_at} ago" %>
  </div>
<% end %>