<div>
  <%= render 'posts/post_single', single: @post %>
  <%= " liked by: #{@post.likers.pluck(:name).join(', ')}" %>
  <%= render 'comment/post_comments', single: @post %>
  <%= render 'comment/comment_form', single: @post %>
</div>