@import "bootstrap-sprockets";
@import "bootstrap";

textarea{
  resize: vertical;
  height: 75px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  text-indent: 20px;
}

.highlight{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  margin-bottom: 5px;
  margin-top: 5px;
}

.highlight-dark{
  margin-top: 5px;
  background-color: #e7e7f2;
  border: 1px solid #d1d1d8;
}

